body {
  font-family: 'Permanent Marker', cursive;
  background: #51bbc9;
  color: #1A1A1A;
  font-size: 1.5rem;
}

.joke {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  position: relative;
}

h1::before {
  content: '';
  position: absolute;
  height: 6px;
  width: 100%;
  background: whitesmoke;
  bottom: 12px;
  z-index: -1;
}

.bubble {
  display: inline-block;
  position: relative;
  background: whitesmoke;
  font-family: inherit;
  border: 2px solid #1A1A1A;
  border-radius: 0.5rem;
  line-height: 1.2;
  padding: 0.5em 1em;
  margin: 0.25em 0 3em;
}

.bubble::before {
	content: '';
	position: absolute;
	bottom: -2em;
	left: 0;
	width: 4em;
	height: 2em;
  border-radius: 0 0 100%;
  box-shadow: -2px -2px 0 0 #1A1A1A inset, -23px 0 0 0 whitesmoke inset,
      -25px -2px 0 0 #1A1A1A inset;
}

button {
  background: #9FE7FF;
  color: #1A1A1A;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #1A1A1A;
  border-radius: 0.5em;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25em 0.5em;
  margin: 0.25em;
  cursor: pointer;
}

.hidden {
  display: none;
}